@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: rgb(17, 17, 17, 1);

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hidden-element {
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	opacity: 0;
}

/* Geral */
.terms {
  background-color: #1e1e1e; /* Fundo principal */
  color: #ffffff;            /* Texto principal */
  padding: 20px;             /* Espaçamento interno */
}

/* Títulos */
.terms h1, .terms h2 {
  color: #ffffff;            /* Texto principal */
  margin-bottom: 10px;       /* Espaçamento inferior */
}

/* Parágrafos e listas */
.terms p, .terms ul {
  color: #cccccc;            /* Texto secundário */
  margin-bottom: 15px;       /* Espaçamento inferior */
}

.terms ul li {
  list-style: disc;          /* Estilo de marcador da lista */
  margin-left: 20px;         /* Indentação da lista */
}

/* Link */
.terms a {
  color: #007bff;            /* Azul (acento) */
  text-decoration: underline; /* Sublinhado */
}

.terms a:hover {
  color: #0069d9;            /* Azul mais escuro ao passar o mouse */
}
